In [18]:
# importing pandas module
import pandas as pd 
 
# Define a dictionary containing employee data 
data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd'],
        'Mob no':['222','111','584','222']} 
   
df = pd.DataFrame(data1,index=[0, 1, 2, 3])
print(df)
df.reindex([2,3,0,1])

     Name  Age    Address Qualification Mob no
0     Jai   27     Nagpur           Msc    222
1  Princi   24     Kanpur            MA    111
2  Gaurav   22  Allahabad           MCA    584
3    Anuj   32    Kannuaj           Phd    222

     Name  Age    Address Qualification Mob no
2  Gaurav   22  Allahabad           MCA    584
3    Anuj   32    Kannuaj           Phd    222
0     Jai   27     Nagpur           Msc    222
1  Princi   24     Kanpur            MA    111

In [19]:
for i in df.iterrows():
    print(i)

(0, Name                Jai
Age                  27
Address          Nagpur
Qualification       Msc
Mob no              222
Name: 0, dtype: object)
(1, Name             Princi
Age                  24
Address          Kanpur
Qualification        MA
Mob no              111
Name: 1, dtype: object)
(2, Name                Gaurav
Age                     22
Address          Allahabad
Qualification          MCA
Mob no                 584
Name: 2, dtype: object)
(3, Name                Anuj
Age                   32
Address          Kannuaj
Qualification        Phd
Mob no               222
Name: 3, dtype: object)

In [20]:
for i ,j in df.iterrows():
    print(j)

Name                Jai
Age                  27
Address          Nagpur
Qualification       Msc
Mob no              222
Name: 0, dtype: object
Name             Princi
Age                  24
Address          Kanpur
Qualification        MA
Mob no              111
Name: 1, dtype: object
Name                Gaurav
Age                     22
Address          Allahabad
Qualification          MCA
Mob no                 584
Name: 2, dtype: object
Name                Anuj
Age                   32
Address          Kannuaj
Qualification        Phd
Mob no               222
Name: 3, dtype: object

In [21]:
for i ,j in df.items():
    print(j)

0       Jai
1    Princi
2    Gaurav
3      Anuj
Name: Name, dtype: object
0    27
1    24
2    22
3    32
Name: Age, dtype: int64
0       Nagpur
1       Kanpur
2    Allahabad
3      Kannuaj
Name: Address, dtype: object
0    Msc
1     MA
2    MCA
3    Phd
Name: Qualification, dtype: object
0    222
1    111
2    584
3    222
Name: Mob no, dtype: object

In [9]:
list(df["Name"])

['Jai', 'Princi', 'Gaurav', 'Anuj']

In [10]:
[i for i in df["Name"]]

['Jai', 'Princi', 'Gaurav', 'Anuj']

In [26]:

df.columns

Index(['Name', 'Age', 'Address', 'Qualification', 'Mob no'], dtype='object')

In [28]:
df["Age","Mob no"]

KeyError: ('Age', 'Mob no')

In [31]:
df1=df.applymap(lambda x : x**2)
df1

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [34]:
df.sort_index(ascending=False)

     Name  Age    Address Qualification Mob no
3    Anuj   32    Kannuaj           Phd    222
2  Gaurav   22  Allahabad           MCA    584
1  Princi   24     Kanpur            MA    111
0     Jai   27     Nagpur           Msc    222

In [32]:
df.sort_values("Name")

     Name  Age    Address Qualification Mob no
3    Anuj   32    Kannuaj           Phd    222
2  Gaurav   22  Allahabad           MCA    584
0     Jai   27     Nagpur           Msc    222
1  Princi   24     Kanpur            MA    111

In [42]:
pd.set_option("display.max_colwidth",1000)
dfLorem=pd.DataFrame({"Desc":["pandas is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series. It is free software released under the three-clause BSD license."]})
dfLorem

                                                                                                                                                                                                                                                                                       Desc
0  pandas is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series. It is free software released under the three-clause BSD license.

In [48]:
pd.set_option("display.max_colwidth", 1000)
dfLorem = pd.DataFrame({"test":["Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."]})
dfLorem['length'] = dfLorem['test'].apply(lambda x: len(x.split()))
dfLorem

,test,length
0,"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.",60