In [27]:
import pandas as pd
course_name=['Data Science','Machine Learing','Big data','Data Engineer']
duration =[2,3,4,5]
df1=pd.DataFrame(data={"course_name":course_name,"duration":duration})

In [28]:
df1

       course_name  duration
0     Data Science         2
1  Machine Learing         3
2         Big data         4
3    Data Engineer         5

In [29]:
df1[1:2]

       course_name  duration
1  Machine Learing         3

In [31]:
df1.loc[0:2]

       course_name  duration
0     Data Science         2
1  Machine Learing         3
2         Big data         4

In [32]:
df1.iloc[[1]]

       course_name  duration
1  Machine Learing         3

In [36]:
df1.iloc[[0,3][0]]

course_name    Data Science
duration                  2
Name: 0, dtype: object

In [38]:
print(df1)
df1 = pd.DataFrame( dfindex=[0, 1, 2, 3])
 
df1.reindex([2,3,0,1])

       course_name  duration
0     Data Science         2
1  Machine Learing         3
2         Big data         4
3    Data Engineer         5

TypeError: DataFrame.__init__() got an unexpected keyword argument 'dfindex'

In [39]:
df1

       course_name  duration
0     Data Science         2
1  Machine Learing         3
2         Big data         4
3    Data Engineer         5